
<%= form_for @project do |f| %>
  <div class="field">
    <%= f.label :name, "Name *" %><br />
    <%= f.text_field :name, autofocus: true, required: true %>
  </div>
  <br>

  <div class="field">
    <%= f.label :users, "Assign To:" %>
    <%= f.select :users, options_from_collection_for_select(@user, :id, :name, @project.users.ids), {:include_blank => true},:multiple=> true,:validate=> true,:class=> 'form-control' %> 
  </div>
  <br> 

  <div class="actions">
    <%= f.submit(@project.new_record? ? "Add Project" : "Update Project") %>
  </div>
<% end %>

<br>
<%= link_to "Back", :back %>