<h2 align="center"> Showing All Projects </h2>
<div class="container-fluid">
    <hr>
</div>
<br>

<% if @projects.count == 0 %>
    <p>
        No Project <%= "assigned" if !is_manager? %> yet!
    </p>
<% else %>

<%#  %>
<ol>
    <% @projects.each do |project| %>
    <li>
    <div class="container">
    <div>
        <span class="container">
            <strong>
                Project Name:
            </strong>
            <em>
                <%= link_to project.name, project %>
            </em>
        </span>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Project Developer's</th>
            <th>Project QA's</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <% project.users.where(user_type: "Developer").each do |dev| %>
                            <li>
                                <%= dev.name.capitalize %>
                            </li>
                        <% end%>
                    </ul>
                </td>
                <td>
                    <ul>
                        <% project.users.where(user_type: "QA").each do |qa| %>
                            <li>
                                <%= qa.name.capitalize %>
                            </li>
                        <% end%>
                    </ul>
                </td>
                <% if project.bugs.count != 0 && (project.bugs.find_by(assign_id: current_user.id) || !is_developer?) %>
                    <td>
                        <%= link_to project.bugs.count.to_s + " bugs", project_bugs_path(project), :project_id => project.id %>
                    </td>
                <% end %>
                <% if is_manager? %>
                    <td>
                        <div>
                            <small>
                                <%= link_to "Edit this Project", edit_project_path(project) if is_manager? %> 
                                <%= link_to ('Delete this project'), project, data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to ddelete #{project.name.capitalize} project?" }, class: "btn btn-xs" if is_manager? %>
                            </small>
                        </div>
                    </td>
                <% end %>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="seperator">
        <br height="2px">
    </div>
</li>
<% end %>
</ol>
<%# below previos view of showing all projects %>
    <%# @projects.each do |project| %>
        <%# <div>
            <span>
                <em>
                    Project Name: 
                </em>
                <strong> %>
                    <%#= link_to project.name, project %>
                <%# </strong>
            </span>
        </div>
        <div>
            <span>
                <em>
                    Project Developers: 
                </em>
                <strong>
                    <ul> %>
                    <%# project.users.where(user_type: "Developer").each do |dev| %>
                        <%# <li> %>
                            <%#= dev.name.capitalize %>
                        <%# </li> %>
                    <%# end%>
                    <%# </ul>
                </strong>
            </span>
        </div>
        <div>
            <span>
                <em>
                    Project QA's: 
                </em>
                <ul> %>
                    <%# project.users.where(user_type: "QA").each do |qa| %>
                        <%# <li> %>
                            <%#= qa.name.capitalize %>
                        <%# </li> %>
                    <%# end%>
                <%# </ul>
            </span>
        </div> %>
        <%# if project.bugs.count != 0 && (project.bugs.find_by(assign_id: current_user.id) || !is_developer?) %>
            <%#= link_to project.bugs.count.to_s + " bugs", project_bugs_path(project), :project_id => project.id %>
            <%# <br> %>
        <%# end %>
        <%#= link_to "Show this Project", project %>
        <%#= link_to "Edit this Project", edit_project_path(project) if is_manager? %> 
        <%#= link_to ('Delete this project'), project, data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to ddelete #{project.name.capitalize} project?" }, class: "btn btn-xs" if is_manager? %>

        <%# <div class="container-fluid">
            <hr/>
        </div> %>
    <%# end %>
<% end %>
