<h1><u>Project Details</u></h1>

<div>
        <span>
            <strong>
                Project Name: 
            </strong>
            <em>
                <%= @project.name %>
            </em>
        </span>
    </div>
    <div>
        <span>
            <strong>
                Project Developers: 
            </strong>
            <em>
                <%= User.where(user_type: 'Developer').each do |user| %>
                    <%= user.name %>
                <% end %>
            </em>
        </span>
    </div>
    <div>
        <span>
            <strong>
                Project QA's: 
            </strong>
            <em>
                <%#= UserProject.where(project_id: @project.id).each do |usr| %>
                    <%#= User.find_by_id(usr.user_id).name %>
                <%# end %>
                <%= UserProject.where(project_id: @project.user_id).each do |user| %>
                    <p>
                        <%= User.where(id: user.user_id, user_type: 'QA').name %>
                    </p>
                <% end %>
            </em>
        </span>
    </div>

    <%= link_to "Edit this Project", edit_project_path(@project) %>
    <%= link_to ('Delete this project'), @project, data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete #{@project.name.capitalize} project?" }, class: "btn btn-xs" %>
    