<h1><u>Project Details</u></h1>

<div>
        <span>
            <strong>
                Project Name: 
            </strong>
            <em>
                <%= @project.name %>
            </em>
        </span>
    </div>
    <div>
        <span>
            <strong>
                Project Developers: 
            </strong>
            <em>
                <%= User.where(user_type: 'Developer').each do |user| %>
                    <%= user.name %>
                <% end %>
            </em>
        </span>
    </div>
    <div>
        <span>
            <strong>
                Project QA's: 
            </strong>
                <%= UserProject.where(project_id: @project.user_id).each do |user| %>
                        <%= User.where(id: user.user_id, user_type: 'QA').name %>
                <% end %>
        </span>
    </div>

    <%= link_to "Edit this Project", edit_project_path(@project) if is_manager? %>
    <%= link_to ('Delete this project'), @project, data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete #{@project.name.capitalize} project?" }, class: "btn btn-xs" if is_manager? %>
    
    <br>
    <%#= link_to "Report Bug", new_project_bug_path(@project.bugs, :project_id => @project.id) if is_qa? %>
    <%= link_to "Report Bug", new_project_bug_path("", :project_id => @project.id) if is_qa? %>
    <br>
    <%= link_to "Back to Projects", projects_path %>
