<%= render 'shared/page_title', title: "Project Details" %>

<br>

<div class="container">
  <h2>
    <span>
        <strong>
            Project Name: 
        </strong>
        <em>
            <%= @project.name %>
        </em>
    </span>
  </h2>
  <br>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Project Developer's</th>
        <th>Project QA's</th>
        <% if !developer? %>
            <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul>
                    <% @project.users.where(user_type: "Developer").each do |dev| %>
                        <li>
                            <%= dev.name.capitalize %>
                        </li>
                    <% end%>
                </ul>
            </td>
            <td>
                <ul>
                    <% @project.users.where(user_type: "QA").each do |qa| %>
                        <li>
                            <%= qa.name.capitalize %>
                        </li>
                    <% end%>
                </ul>
            </td>
            <% if !developer? %>
            <td>
                <div>
                    <span>
                        <% if (@project.bugs.count != 0) && (@project.bugs.find_by(assign_id: current_user.id) || !developer?) && (@project.bugs.find_by(created_id: current_user.id) || !qa?) %>
                            <%= link_to pluralize(@project.bugs.count, " bug"), project_bugs_path(@project), :project_id => @project.id %>
                        <% end %>
                    </span>
                    <span>
                        <%= link_to "Edit this Project", edit_project_path(@project) if manager? %>
                    </span>
                    <span>
                        <%= link_to ('Delete this project'), @project, data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete '#{@project.name.capitalize}' project?" }, class: "btn btn-xs" if manager? %>
                    </span>
                    <span>
                        <%= link_to "Report Bug", new_project_bug_path("", :project_id => @project.id) if qa? %>
                    </span>
                </div>
            </td>
            <% end %>
      </tr>
    </tbody>
  </table>
</div>

<br>

<%= link_to "Back to Projects", projects_path %>

<br>