<%= render 'shared/page_title', title: "Showing All Bug/Feature | Project Title: #{@project.name} " %>

<ul>
    <hr/>
    <br>
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero container">
        <ul class=”pagination”>
            <li class="disabled"> 
                <%= will_paginate(@bug, previous_label: "&laquo;", next_label: "&raquo;", outer_window: 1, inner_window: 0, class: "small-font" ) %>
            </li>
        </ul>
    </div>

    <% @bugs.each do |bug| %>
        <li>
            <div>
                <span>
                    <strong>
                        Bug Title: 
                    </strong>
                    <span>
                        <%= bug.title %>
                    </span>
                </span>
            </div>
            <br>
            <div>
                <span>
                    <strong>
                        Description: 
                    </strong>
                    <span>
                        <%= truncate(bug.description, length: 150) %>
                    </span>
                </span>
            </div>
            <br>
            <div>
                <span>
                    <strong>
                        Deadline: 
                    </strong>
                    <span>
                        <%= bug.deadline %>
                    </span>
                </span>
            </div>
            <br>
            <% if bug.screenshot? %>
                <div>
                    <span>
                        <strong>
                            Screen Shot: 
                        </strong>
                        <div>
                            <%= image_tag bug.screenshot.url if bug.screenshot? %>
                        </div>
                    </span>
                </div>
                <br>
            <% end %>
            <div>
                <span>
                    <strong>
                        Bug Type: 
                    </strong>
                    <span>
                        <%= bug.bug_type %>
                    </span>
                </span>
            </div>
            <% if !developer? && !bug.assign_id.nil? %>
                <br>
                <div>
                    <span>
                        <strong>
                            Assigned To: 
                        </strong>
                        <span>
                            <%= User.find_by_id(bug.assign_id).name.capitalize %>
                        </span>
                    </span>
                </div>
            <% end %>
            <br>
            <div>
                <span>
                    <strong>
                        Status: 
                    </strong>
                    <span>
                        <%= bug.bug_status %>
                    </span>
                </span>
            </div>
            <% if !qa? %>
                <br>
                <div>
                    <span>
                        <strong>
                            Created By: 
                        </strong>
                        <span>
                            <%= User.find_by_id(bug.created_id).name.capitalize %>
                        </span>
                    </span>
                </div>
            <% end %>

            <div align="right">
                <%#= link_to "Edit this Bug", "/projects/#{@project.id}/bugs/#{bug.id}/edit" if !manager? %>
                <%#= link_to ('Remove this Bug'), "/projects/#{@project.id}/bugs/#{bug.id}", data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete this bug?" }, class: "btn btn-xs" if qa? %>
                <%= link_to "Edit this Bug", edit_project_bug_path(@project,bug) if !manager? %>
                <%= link_to ('Remove this Bug'), project_bug_path(@project,bug), data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete this bug?" }, class: "btn btn-xs" if qa? %>
            </div>
        <hr/>
    </li>
    <% end %>

    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero">
        <ul class=”pagination”>
            <li class="disabled"> 
                <%= will_paginate(@bugs, previous_label: "&laquo;", next_label: "&raquo;", outer_window: 1, inner_window: 0, class: "small-font" ) %>
            </li>
        </ul>
    </div>

</ul>
