
<h1>Bug Details | Project Title: <%= @project.name.capitalize %> </h1>

<div>
    <span>
        <strong>
            Bug Title: 
        </strong>
        <em>
            <%= @bug.title.capitalize %>
        </em>
    </span>
</div>
<div>
    <span>
        <strong>
            Description: 
        </strong>
        <em>
            <%= @bug.description %>
        </em>
    </span>
</div>
<div>
    <span>
        <strong>
            Deadline: 
        </strong>
        <em>
            <%= @bug.deadline %>
        </em>
    </span>
</div>
<div>
    <span>
        <strong>
            Screen Shot: 
        </strong>
        <div>
            <%= image_tag @bug.screenshot.url %>
        </div>
    </span>
</div>
<div>
    <span>
        <strong>
            Bug Type: 
        </strong>
        <em>
            <%= @bug.bug_type %>
        </em>
    </span>
</div>

<% if !is_developer? %>
    <div>
        <span>
            <strong>
                Assigned To: 
            </strong>
            <em>
                <p>
                    <%= User.find_by_id(@bug.assign_id).name %>
                </p>
            </em>
        </span>
    </div>
<% end %>

<div>
    <span>
        <strong>
            Status: 
        </strong>
        <em>
            <%= @bug.bug_status %>
        </em>
    </span>
</div>

<% if !is_qa? %>
    <div>
        <span>
            <strong>
                Created By: 
            </strong>
            <em>
                <p>
                    <%= @bug.created_id %>
                </p>
            </em>
        </span>
    </div>
<% end %>

<%= link_to "Edit this Bug", edit_bug_path(@bug), :project_id => @project.id  if !is_manager? %>
<%= link_to ('Remove this Bug'), @bug, data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete this bug?" }, class: "btn btn-xs" if is_qa? %>
