<%= render 'shared/page_title', title: "#{ @bug.bug_type == "Bug" ? "Bug" : "Feature"} Details |  Project Title:  #{@project.name.capitalize}" %>

<div>
    <div>
        <span>
            <em>
                Bug Title: 
            </em>
            <strong>
                <%= @bug.title.capitalize %>
            </strong>
        </span>
    </div>
    <div>
        <span>
            <em>
                Description: 
            </em>
            <h6>
                <%= truncate(@bug.description, length: 150) %>
            </h6>
        </span>
    </div>
    <div>
        <span>
            <em>
                Deadline: 
            </em>
            <h6>
                <%= @bug.deadline %>
            </h6>
        </span>
    </div>
    <div>
        <% if @bug.screenshot? %>
            <em>
                Screen Shot: 
            </em>
            <div>
                <%= image_tag @bug.screenshot.url  if @bug.screenshot? %>
            </div>
        <% end %>
    </div>
    <div>
        <span>
            <em>
                Bug Type: 
            </em>
            <h6>
                <%= @bug.bug_type %>
            </h6>
        </span>
    </div>

    <% if !developer? %>
        <div>
            <span>
                <em>
                    Assigned To: 
                </em>
                <h6>
                    <%= User.find(@bug.assign_id).name %>
                </h6>
            </span>
        </div>
    <% end %>

    <div>
        <span>
            <em>
                Status: 
            </em>
            <h6>
                <%= @bug.bug_status %>
            </h6>
        </span>
    </div>

    <% if !qa? %>
        <div>
            <span>
                <em>
                    Created By: 
                </em>
                <h6>
                    <%= User.find(@bug.created_id).name.capitalize %>
                </h6>
            </span>
        </div>
    <% end %>

    <%= link_to "Edit this Bug", edit_project_bug_path(@bug.project), :project_id => @project.id  if !manager? %>
    <%= link_to ('Remove this Bug'), project_bug_path(@bug.project), data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete this bug?" }, class: "btn btn-xs" if qa? %>
    <hr>
    <%= link_to "Back to Bugs listing", project_bugs_path(@bug.project) %>
</div>
