<%= render 'shared/page_title', title: "Listing All Bugs" %>

<br>

<% if @bugs.count == 0 %>
    <p>
        No Bug <%= "reported" if !is_qa? %> yet!
    </p>
<% else %>
    <ul>
        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero container">
            <ul class=”pagination”>
                <li class="disabled"> 
                    <%= will_paginate(@bugs, previous_label: "&laquo;", next_label: "&raquo;", outer_window: 1, inner_window: 0, class: "small-font" ) %>
                </li>
            </ul>
        </div>
        <% @bugs.each do |bug| %>
        <li>
            <div class="container">
                <div>
                    <span class="container">
                        <strong>
                            Bug Title:
                        </strong>
                        <em>
                            <%= link_to bug.title.capitalize, project_bug_path(bug) %>
                        </em>
                    </span>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Deadline</th>
                            <th>Status</th>
                            <th>Project Name</th>
                            <th>Project Developer's</th>
                            <th>Project QA's</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <%= truncate(bug.description, length: 150) %>
                            </td>
                            <td>
                                <%= bug.deadline %>
                            </td>
                            <td>
                                <%= bug.bug_status %>
                            </td>
                            <td>
                                <%= bug.project.name.capitalize %>
                            </td>
                            <td>
                                <ul>
                                    <% bug.project.users.where(user_type: "Developer").each do |dev| %>
                                        <li>
                                            <%= dev.name.capitalize %>
                                        </li>
                                    <% end%>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <% bug.project.users.where(user_type: "QA").each do |qa| %>
                                        <li>
                                            <%= qa.name.capitalize %>
                                        </li>
                                    <% end%>
                                </ul>
                            </td>

                            <% if (Bug.find_by(assign_id: current_user.id) || !is_developer?) %>
                                <td>
                                    <%= link_to pluralize(Project.find(bug.project.id).bugs.count, "bug and feature"), project_bugs_path(bug.project), :project_id => bug.project.id %>      
                                </td>
                            <% end %>

                            <% if false %>
                                <td>
                                    <div>
                                        <small>
                                            <%= link_to "Edit this Project", edit_project_path(bug.project) if is_manager? %> 
                                            <%= link_to ('Delete this project'), bug.project, data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete '#{bug.project.name.capitalize}' project?" }, class: "btn btn-xs" if is_manager? %>
                                        </small>
                                    </div>
                                </td>
                            <% end %>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="seperator">
                <br>
            </div>
                        
        </li>
        <% end %>
        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero container">
            <ul class=”pagination”>
                <li class="disabled"> 
                    <%= will_paginate(@bugs, previous_label: "&laquo;", next_label: "&raquo;", outer_window: 1, inner_window: 0, class: "small-font" ) %>
                </li>
            </ul>
        </div>
    </ul>
<% end %>
